{
  "extends": "eslint:recommended",
  "plugins": ["vue"],
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
  },
  "env": {
    "browser": true,
    "node": true,
  },
}
