
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.wallet-adapter-button, .wallet-adapter-button-trigger{
  all:unset !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Fond animé */

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #161143;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 0.5vmin;
  height: 0.5vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #ffffff;
  top: 88%;
  left: 27%;
  animation-duration: 51s;
  animation-delay: -5s;
  transform-origin: 14vw -11vh;
  box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffffff;
  top: 21%;
  left: 6%;
  animation-duration: 18s;
  animation-delay: -24s;
  transform-origin: 16vw 7vh;
  box-shadow: 2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(2) {
  color: #ffffff;
  top: 46%;
  left: 65%;
  animation-duration: 14s;
  animation-delay: -34s;
  transform-origin: -23vw 12vh;
  box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(3) {
  color: #ffffff;
  top: 61%;
  left: 29%;
  animation-duration: 27s;
  animation-delay: -45s;
  transform-origin: -9vw -18vh;
  box-shadow: 2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffffff;
  top: 25%;
  left: 43%;
  animation-duration: 39s;
  animation-delay: -22s;
  transform-origin: 18vw 20vh;
  box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffffff;
  top: 11%;
  left: 8%;
  animation-duration: 42s;
  animation-delay: -36s;
  transform-origin: 18vw 13vh;
  box-shadow: 2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(6) {
  color: #ffffff;
  top: 46%;
  left: 84%;
  animation-duration: 21s;
  animation-delay: -3s;
  transform-origin: -2vw 5vh;
  box-shadow: -2vmin 0 0.37446353461265824vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffffff;
  top: 67%;
  left: 29%;
  animation-duration: 32s;
  animation-delay: -1s;
  transform-origin: -16vw -15vh;
  box-shadow: -2vmin 0 0.3881346957760584vmin currentColor;
}
.background span:nth-child(8) {
  color: #ffffff;
  top: 96%;
  left: 71%;
  animation-duration: 26s;
  animation-delay: -32s;
  transform-origin: -6vw 5vh;
  box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffffff;
  top: 84%;
  left: 62%;
  animation-duration: 34s;
  animation-delay: -5s;
  transform-origin: -19vw -24vh;
  box-shadow: -2vmin 0 0.6vmin currentColor;
}
.background span:nth-child(10) {
  color: #ffffff;
  top: 48%;
  left: 43%;
  animation-duration: 52s;
  animation-delay: -7s;
  transform-origin: -15vw 6vh;
  box-shadow: 2vmin 0 0.5vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffffff;
  top: 82%;
  left: 7%;
  animation-duration: 31s;
  animation-delay: -25s;
  transform-origin: 13vw -8vh;
  box-shadow: -2vmin 0 0.29201241475257267vmin currentColor;
}
.background span:nth-child(12) {
  color: #ffffff;
  top: 67%;
  left: 69%;
  animation-duration: 10s;
  animation-delay: -17s;
  transform-origin: -19vw 9vh;
  box-shadow: -2vmin 0 0.5 currentColor;
}
.background span:nth-child(13) {
  color: #ffffff;
  top: 46%;
  left: 70%;
  animation-duration: 22s;
  animation-delay: -3s;
  transform-origin: 11vw 18vh;
  box-shadow: -2vmin 0 0.4661946379137405vmin currentColor;
}
.background span:nth-child(14) {
  color: #ffffff;
  top: 20%;
  left: 19%;
  animation-duration: 11s;
  animation-delay: -14s;
  transform-origin: 6vw 19vh;
  box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(15) {
  color: #ffffff;
  top: 44%;
  left: 32%;
  animation-duration: 22s;
  animation-delay: -27s;
  transform-origin: -19vw 12vh;
  box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(16) {
  color: #ffffff;
  top: 87%;
  left: 44%;
  animation-duration: 28s;
  animation-delay: -5s;
  transform-origin: 0vw -12vh;
  box-shadow: 2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(17) {
  color: #ffffff;
  top: 89%;
  left: 47%;
  animation-duration: 19s;
  animation-delay: -27s;
  transform-origin: 11vw -21vh;
  box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffffff;
  top: 16%;
  left: 61%;
  animation-duration: 47s;
  animation-delay: -30s;
  transform-origin: 20vw 15vh;
  box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(19) {
  color: #ffffff;
  top: 36%;
  left: 49%;
  animation-duration: 10s;
  animation-delay: -49s;
  transform-origin: -15vw -15vh;
  box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(20) {
  color: #ffffff;
  top: 43%;
  left: 93%;
  animation-duration: 37s;
  animation-delay: -43s;
  transform-origin: -16vw 9vh;
  box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(21) {
  color: #ffffff;
  top: 66%;
  left: 12%;
  animation-duration: 25s;
  animation-delay: -28s;
  transform-origin: -22vw -11vh;
  box-shadow: -2vmin 0 0.366535246953955vmin currentColor;
}
.background span:nth-child(22) {
  color: #ffffff;
  top: 74%;
  left: 91%;
  animation-duration: 48s;
  animation-delay: -13s;
  transform-origin: 22vw 7vh;
  box-shadow: 2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(23) {
  color: #ffffff;
  top: 84%;
  left: 61%;
  animation-duration: 24s;
  animation-delay: -35s;
  transform-origin: -10vw 14vh;
  box-shadow: -2vmin 0 0.3vmin currentColor;
}
.background span:nth-child(24) {
  color: #ffffff;
  top: 75%;
  left: 81%;
  animation-duration: 13s;
  animation-delay: -19s;
  transform-origin: -17vw 22vh;
  box-shadow: -2vmin 0 0.3346853858754931vmin currentColor;
}